.shou-box {
  background: #383e43;
}
.shou-login {
  // background: red;
  width: 100vw;
  height: 100%;
  .shou-login-content {
    margin: 0 18px;
    width: 100%;
    height: 99%;
    overflow: hidden;
    // background: #cccccc;
  }
  .imgbox {
    width: 50%;
    height: 100%;
    float: left;
  }
  .flex {
    display: flex;
  }
  .justify-content {
    justify-content: space-between;
  }
  .shou-select {
    height: 80px;
    position: absolute;
    top: 39px;
    font-size: 30px;
    right: 0;
    color: #cccccc;
    background: #f8f8f8;
    outline: none;
    margin-top: 40px;
    z-index: 5;
  }
  .rightbox1 {
    width: 40%;
    height: 80px;
    // margin-right: 10%;
    background: white;
    line-height: 80px;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    position: relative;
    float: right;
    margin-right: 0.2rem;
  }
  .shou-option {
    font-size: 50px;
    padding: 10px;
    background: gray;
    z-index: 5;
    color: black;
    width: 300px;
    opacity: 0.8;
    text-align: center;
    a {
      text-decoration: none;
      color: black;
      font-size: 36px;
    }
  }
}
